###NetBeans###
##link="https://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@github.com/Marceli06/Projeto_DigitalSolutions.git"##
**/nbprojeto/privado/
**/nbproject/Makefile-*.mk
**/nbproject/Package-*.bash
construir/
nbconstruir/
dist/
nbdist/
.nb-gradle/
target/


